<div class="row">
		<div class="col-lg-8">
			<h3>Welcome!</h3>
		</div>
		
		<div class="col-lg-4">
			<% unless logged_in? %>
				<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active">
				    	<a href="#registration" aria-controls="registration" role="tab" data-toggle="tab">Registration</a>
			    	</li>

				    <li role="presentation">
				    	<a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
			    	</li>
				</ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="registration">
			    	<%= simple_form_for @initial_registration_form, remote: true, url: initial_registration_path, html: {id: 'initial_registration'} do |f| %>
							<%= f.input :email %>
							<%= f.input :name %>
							
							<%= f.input :age, as: :select, collection: Questionary.age_options %>
							
							<%= f.input :gender, as: :radio_buttons, collection: {'male' => User::MALE, 'female' => User::FEMALE}  %>
							
							<%= f.input :seek_gender, as: :radio_buttons, collection: {'male' => User::MALE, 'female' => User::FEMALE} %>

							<%= f.submit 'Register' %>
						<% end %>
			    </div>

			    <div role="tabpanel" class="tab-pane" id="login">
			    	<%= simple_form_for(:session,  url: login_url, remote: true, html: { id: 'login' }) do |f| %>
			    		<%= f.input :email %>
			    		<%= f.input :password %>

						  <%= f.input :remember_me,  as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Yes, remember me' %>

			    		<%= f.submit 'Log in' %>
			    	<% end %>
			    </div>
			  </div>
		  <% end %>
			
		</div>
</div>

<script type="text/javascript">
	$(function() {
		var initial_registration = new InitialRegistration('<%= complete_registration_url %>');
		var auth_controller = new AuthController('<%= own_profile_url %>');
	});
</script>