.row
	.col-lg-8
		%h3 Welcome
		
	.col-lg-4
		- unless user_signed_in?
			%ul{ class: 'nav nav-tabs', role: "tablist"}
				%li{ class: 'active', role: 'presentation' }
					%a{ href: "#registration", "aria-controls": "registration", role: "tab", "data-toggle": "tab"} Registration
				%li{ role: 'presentation' }
					%a{ href: "#login", "aria-controls": "login", role: "tab", "data-toggle": "tab" }Login
				

			.tab-content
				%div#registration{ role: "tabpanel", class: "tab-pane active" }
					= simple_form_for @user, remote: true, format: :json, url: user_registration_path, html: {id: 'initial_registration'} do |f|
						= f.input :email
						= f.input :first_name
						
						= f.fields_for :questionary do |q|
							= q.input :age, as: :select, collection: Questionary.age_options
						
							= f.input :gender, as: :radio_buttons, collection: User.genders.keys, checked: :male
						
							= q.input :seek_gender, as: :radio_buttons, collection: {'male' => User::GENDER_MALE, 'female' => User::GENDER_FEMALE}, checked: User::GENDER_FEMALE

						= f.submit 'Register'

				%div#login{ role: "tabpanel", class: "tab-pane" }
					= simple_form_for(User.new,  url: new_user_session_path, remote: true, forma: :json, html: { id: 'login' }) do |f|
						= f.input :email
						= f.input :password
						- if Devise.mappings[:user].rememberable?
							%div
								= f.check_box :remember_me
								= f.label :remember_me

						= f.submit 'Log in'

:javascript
	$(function() {
		var initial_registration = new InitialRegistration("#{complete_registration_url}");
		var auth_controller = new AuthController("#{own_profile_url}");
	});
