<div class="row">
		<div class="col-lg-8">
			Content
		</div>
		<div class="col-lg-4">
			<h3>Registraion</h3>
			<%= bootstrap_form_for @initial_registration, remote: true, emthod: :post, url: initial_registration_path, html: {id: 'initial_registration'} do |f| %>
				<%= f.email_field :email %>
				<%= f.text_field :name %>
				
				<%= f.select :age, options_for_select((18..80).step(1).to_a.map{|age| ["#{age}", age]}), {include_blank: 'age'} %>
				
				<%= f.radio_button :gender, User::MALE %>
				<%= f.radio_button :gender, User::FEMALE %>

				<%= f.radio_button :seek_gender, User::MALE %>
				<%= f.radio_button :seek_gender, User::FEMALE %>

				<%= f.submit 'Register' %>
			<% end %>
		</div>
</div>

<script type="text/javascript">
	$.ajaxSetup({
	  dataType: 'json'
	})

	$('#initial_registration').on('ajax:error', function(e, data, status, xhr) {
		$(this).render_form_errors('initial_registration_form', data.responseJSON);
	})
</script>